<?xml version="1.0" encoding="uTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zys.redisdemo.dao.ErpDao">

    <!--多表关联关系的缓存处理-->
    <cache-ref namespace="com.zys.redisdemo.dao.UserDao"/>

</mapper>
